@model LEATS_Project.Models.Specialisation
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialisation</h4>
    <hr />
    <h3> Tutor Details</h3>
    <div>
        <table>
            <tr>
                <td>
                    @{

                        var base64 = Convert.ToBase64String(Model.Tutor.Student.ProfilePicture);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    }
                    <img src="@imgsrc" style="max-width:200px;max-height:200px" />
                </td>

            </tr>
        </table>

    </div>

    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Student.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Student.LastName)
        </dd>
        <dt>
            City Based
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Student.City)
        </dd>
        <dt>
            Level of Study
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Student.LevelOfStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Qualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Experience)
        </dd>
        <dt>
            Module Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleCode)
        </dd>
        <dt>
            Module Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Description)
        </dd>
        <dt>
            Sessions Completed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.NoOfSessions)
        </dd>
        <dt>
            Average Rating out of 5
        </dt>

        <dd>
            @{double averageRating = (Double)(Model.Tutor.TotalRating) / Model.Tutor.NoOfSessions;}
            @averageRating
        </dd>

        @{ 
            Session["appointmentsDetails"] = "Appointment for " + Model.Module.ModuleCode + " - " + Model.Module.Description;
        }
        @{
            //This takes the tutor ID
            Session["tutID"] = Model.Tutor.TutorID;

        }
        @*Original*@
        @*<dt>
            @Html.DisplayNameFor(model => model.Module.ModuleID)
        </dt>-

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleID)
            @{ 
                Session["appointmentsDetails"] = "Appointments for " + Html.DisplayFor(model => model.Module.ModuleCode) + " - " + Html.DisplayFor(model => model.Module.Description);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.TutorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorID)
            @{ 
                //This takes the tutor ID
                Session["tutID"] = Html.DisplayFor(model => model.Tutor.TutorID);

            }
            

        </dd>*@

    </dl>
</div>
<table class="back_or_book_table">
    <tr>
        <th>
            @Html.ActionLink("BACK", "Index")
        </th>
        <th>
           
        </th>
        <th>
            @Html.ActionLink("BOOK APPOINTMENT", "Create", "Appointments")
        </th>
        <th></th>
    </tr>
</table>


