@model LEATS_Project.Models.Specialisation
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.ModuleID)
        </dt>-

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleID)
            @{ 
                Session["appointmentsDetails"] = "Appointments for " + Html.DisplayFor(model => model.Module.ModuleCode) + " - " + Html.DisplayFor(model => model.Module.Description);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.TutorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorID)
            @{ 
                //This takes the tutor ID
                Session["tutID"] = Html.DisplayFor(model => model.Tutor.TutorID);

            }
            @Html.DisplayFor(model => model.Tutor.Student.FirstName)

        </dd>

    </dl>
</div>
<table class="back_or_book_table">
    <tr>
        <th>
            @Html.ActionLink("BACK", "Index")
        </th>
        <th>
           
        </th>
        <th>
            @Html.ActionLink("BOOK APPOINTMENT", "Create", "Appointments")
        </th>
        <th></th>
    </tr>
</table>


