@model IEnumerable<LEATS_Project.Models.Specialisation>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h4>Search for tutor</h4>
<br />
<br />
@using (Html.BeginForm("Index", "Specialisations", FormMethod.Get))
{
    @Html.TextBox("searchBox")<input type="submit" value="Search" />
}
<br />

<!--<p>
    Html.ActionLink("Create New", "Create")
</p>-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tutor")
        </th>
        <th>
            @Html.DisplayName("Module name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tutor.Student.FirstName)
            @Html.DisplayFor(modelItem => item.Tutor.Student.LastName)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module.ModuleCode)
        </td>
        <td>
            @Html.ActionLink("VIEW TUTOR DETAILS", "Details", new { id = item.SpecialisationID })
        </td>
    </tr>
}

</table>
