@model LEATS_Project.Models.Administrator
<br />
<br />
<br />

<div>
    <h4>My profile</h4>
    <div>
        <table>
            <tr>
                <td>
                    @{
                        var imgsrc = "";
                        if (Model.ProfilePicture != null)
                        {
                            var base64 = Convert.ToBase64String(Model.ProfilePicture);
                            imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        }
                        else
                        {
                            imgsrc = "~/Images/tutor1.jpg.ImageUrl";
                        }

                    }
                    <img src="@imgsrc" style="max-width:200px;max-height:200px" />
                </td>

            </tr>
        </table>

    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellphoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellphoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("EDIT", "Edit", new { id = Model.AdministratorID }) |
    @Html.ActionLink("BACK", "Index")
</p>
