@model LEATS_Project.Models.Appointment

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2>Appoints Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Student.FirstName)
            @Html.DisplayNameFor(model => model.Tutor.Student.LastName)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit appointment details", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Close appointment details", "Index","Home")
</p>
