@model IEnumerable<LEATS_Project.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointment Booking</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Email)
        </th>

        <th></th>
    </tr>
@if (User.IsInRole("Admin"))
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }
}
else if (User.IsInRole("Student") && !User.IsInRole("Tutor"))
{
    foreach (var item in Model.Where(s => s.Student.Email == Session["ActiveUserEmail"].ToString()))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }
}
else if (User.IsInRole("Student") && User.IsInRole("Tutor"))
{
    foreach (var item in Model.Where(s => s.Tutor.Student.Email == Session["ActiveUserEmail"].ToString()))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }) |
       
            </td>
        </tr>
    }
}
</table>
