@model LEATS_Project.Models.Tutor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tut_StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tut_StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatePerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatePerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfSessions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSessions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
