@model IEnumerable<LEATS_Project.Models.Tutor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tut_StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatePerHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfSessions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tut_StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatePerHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfSessions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TutorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TutorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TutorID })
        </td>
    </tr>
}

</table>
