@model LEATS_Project.Models.TutorApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TutorApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicTranscript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicTranscript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
