@model LEATS_Project.Models.TutorApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TutorApplication</h4>
    <hr />
    <div>
        <table>
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(Model.Student.ProfilePicture);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    }
                    <img src="@imgsrc" style="max-width:200px;max-height:200px" />
                </td>

            </tr>
        </table>

    </div>
    <div>
        <table>
            <tr>
                <td>
                    Download Documents
                    <div>
                        <p>
                            Academic Transcript <a href="http://go.microsoft.com/fwlink/?LinkId=403804">Download File</a> 
                        </p>

                        <p>
                            Proof of Registration <a href="http://go.microsoft.com/fwlink/?LinkId=403804">Download File</a>
                        </p>

                    </div>
                </td>

            </tr>
        </table>

    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
