@model IEnumerable<LEATS_Project.Models.Module>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h4>Search tutor by module</h4>

<p>
    <!--Html.ActionLink("Create New", "Create")-->
</p>
<br />
<br />
<br />
<br />
@using (Html.BeginForm("Index", "Modules", FormMethod.Get))
{
    @Html.TextBox("searchBox")<input type="submit" value="Search" />
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Select Tutor", "Details","Specialisations", new { id = item.ModuleID });
                <!--Html.ActionLink("Edit", "Edit", new { id=item.ModuleID }) |
                Html.ActionLink("Delete", "Delete", new { id=item.ModuleID })-->

            </td>
        </tr>
    }





</table>
<br />
<br />
